@model SysComedorCADE.Models.TipoPersona

@{
    ViewBag.Title = "Delete";
}

<h3>Tipo Persona se eliminará</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit"  class="btn btn-danger"><span class="fa fa-trash"> Eliminar</span></button>
            <a href="@Url.Action("Index","TipoPersona",null)"><button type="button" class="btn btn-warning">Regresar</button></a>
        </div>
    }
</div>
